<div class="card-category"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.cnn.com/api/v1/images/stellar/prod/200619162441-list-making-stock.jpg?q=w_3000,h_2002,x_0,y_0,c_fill)">
  <div class="text-center text-white">
    <h1>Save movies</h1>
  </div>
  </div class="list-group">
</div>
<div class="cover mb-4 d-flex align-items-center justify-content-center">
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Lists</h3>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat" %>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <%= link_to list_path(list), class:"text-decoration-none" do %>
            <%= list.name %>
            <%= link_to "Delete" , list ,class:"btn text-decoration-none",data: {turbo_method: :delete,
            turbo_confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
